body{
    background-color: rgb(186, 184, 165);
   
}
*, *:before, *:after{
    box-sizing: border-box;
}

@font-face {
    
    font-family: dots;
    src: url(fonts/edundot.ttf);

    font-family:'04b03';
    src: url('fonts/04b03.woff2') format('woff2'),
        url('fonts/04b03.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

    font-family: 'emojifont';
    src: url('fonts/EmojiFont.ttf');

    font-family: 'rodin';
    src: url(fonts/FOT-Rodin\ Pro\ M.otf);

}

#layoutgrid{
    display: grid; 
    height: 95vh; /* Fills the full height of the screen */
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    padding: 20px;
    padding-top: 0;
  
    
}

#content1{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 10px;
    gap: 10px;
    min-height: 0;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    
}
#content2{
    grid-column-start: 2;
    grid-column-end: 3;
    max-height: 95vh;
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    
    

    display:grid;
    grid-template-rows: 20% 60% 20%;
    gap: 10px;
    grid-template-columns: 90% 10%;
      
}

#one{
    grid-row-start:1;
    grid-row-end:2;

    display: flex;
    justify-content: end;
    align-items: flex-start;
    
    
}
.back{
    background-color: rgb(145,144,128);
    border:none;
    color:rgb(81, 81, 72);
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: '04b03';
  font-size: 16px;
  margin: 4px 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
.back:hover {
    color: rgb(199,197,176);
}
.square:hover{
    background-color: rgb(199,197,176);
}
.square{
    width:20px;
    height:20px;
    background-color: rgb(81, 81, 72);
}

#two{
    position:relative;
    grid-row-start:2;
    grid-row-end:3;
    
    grid-column-start: 1;
    grid-column-end:2;
    
    display: grid;
    grid-template-rows: 5% 95%;

  
   
}
#side{
    grid-row-start: 2;
    grid-row-end: 3;

    border-right: 4px double rgb(80, 80, 70);
}

.statsborder{
    
    grid-row-start:1;
    grid-row-end: 2;
    background-color: rgb(81, 81, 72);
    font-size: 16px;
    font-family: '04b03';
    color: rgb(199,197,176);
    padding-left: 10px;
    padding-top: 5px;
}


.statscontainer{
    grid-row-start: 2;
    grid-row-end:3;
    
    background-color:rgb(199,197,176);

}
.statcont1{
    grid-row-start: 1;
    grid-row-end: 2;
   border-bottom: 1px solid rgb(80, 80, 70);
   
   margin-top: -10px;
   padding: 13px;
   padding-bottom: 13px;
    object-fit: contain;
    
   display: grid;
   grid-template-columns: 25% 75%;
    background-color: rgb(199,197,176);
}

.statimg{
    grid-column-start: 1;
    grid-column-end: 2;

    display:flex;
    text-align: center;
    justify-content: center;
   
    object-fit: contain;
   background-color: rgb(174,170,152);
    height:100%;
    width:100%;
    box-sizing: border-box;
    padding: 10px;
   
}
.statimg img{
    
    max-height: 100%;
    width: 100%;


     min-width: 0;
    min-height: 0;


    object-fit: contain;
  
    border-radius: 6px;
}
.statnames{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    
    padding: 10px;
    padding-left: 25px;
    
   
   justify-content: space-between;

   
}
.leftname{
   font-size: 20px;
    
   

}
.rightname{
   text-align: right;
    font-size: 20px;
    
   
}
p{
    font-family:'rodin';
    font-size: 14px;
    color: rgb(79,78,69);
}
a{
    font-family:'rodin';
    font-size: 14px;
    color: rgb(79,78,69);
}

.statcont2{
    grid-row-start: 2;
    grid-row-end: 3;
   border-bottom: 1px solid rgb(80, 80, 70);
   background-color: rgb(199,197,176);

    padding: 13px;
   display:flex;
   align-items: center;
   justify-content: space-between;
   
}

.leftstats{
    margin-top: -5px;
    padding-left: 10px;
}
.rightstats{
    padding:10px;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap:17px;
    
}

.cry{
    height: 10px;
    width:220px;
    position: relative;
    background: rgb(186, 184, 165);
    padding:0px;
    overflow: hidden;
    box-sizing: border-box;

    
}
.cry > span{
   
    display:block;
    height:100%;
    background-color:rgb(145, 144, 128);
    
}

.statcont3{
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: contain;
   border-bottom: 1px solid rgb(80, 80, 70);
   background-color: rgb(199, 197, 176);
   
   box-sizing: border-box;
   display:flex;
   overflow: hidden;
   
   
  
}

.lyricscont{
  
    padding:10px;
    background-color: rgb(186, 184, 165);
    height:100%;
    width:100%;
   overflow-y:auto;
    
}



#three{
    grid-row-start:3;
    grid-row-end:4;
   
     
}
.stacked{
    position: absolute;
    display:none;
    object-fit: contain;
    width: 100%;
    height:100%;
    background-color: rgb(199,197,176);
    padding: 10px;
    box-sizing: border-box

    
}
.stackedcont{
    object-fit: contain;
    width: 100%;
    height:100%;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
   
}

.hide{
    display:none;
}
.stacked:not(.hide) {
  display: block;
}

.heading{
    grid-row-start:1;
    grid-row-end:2;
    display:flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: -4px;
   margin-top: -10px;
   margin-left: -30px;
   flex-grow:0;
   width: auto;
   padding-bottom: 25px;
   
   

}
h1{
    
    
     flex-grow:0;
   width: auto;
    object-fit: contain;
    font-family:'rodin';
    
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: rgb(79, 78, 69);

}

.playcontainer{
    grid-row-start: 2;
    grid-row-end: 5;
    border-left: solid 9px rgb(174,170,152);
   
    display: grid;
    grid-template-columns: 15% 85%;
}
.scrollbox{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    box-shadow: -24px 0px 4px -24px rgb(79, 78, 69);;

    background-color: rgb(199, 197, 176);
    border-top: 15px solid rgb(145, 144, 128); 
   
    scrollbar-width: thin;
    scrollbar-color: rgb(79,78,69) rgb(145,144,128);
    overflow-y: auto;
    padding: 10px;
}

.song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    gap:0;
    padding: 8px;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(80, 80, 70);

    
}
.songover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    gap:0;
    padding: 8px;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(80, 80, 70);

}


.arrow{
    display: block;
    font-size: 20px;
    color: rgb(79,78,69);
}
.song:hover{
    background: linear-gradient(to left, rgb(81, 81, 72), rgb(186, 184, 165));
}
.song:hover .arrow{
    
    color: rgb(199,197,176);

}





.art{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 18px;
    border-radius: 3px;
}
.info{
    flex-grow: 1;
    
    
}
.title{
    font-family: '04b03';
    font-size: 22px;
    margin:0;
    color: rgb(79,78,69);
}
.artist{
    font-family:'rodin';
    font-size: 14px;
    color: rgb(145, 144, 128);
}
p {
  margin: -3px;
}

.foot{
    padding-top: 60px;
    grid-row-start: 5;
    grid-row-end: 6;
    font-family: '04b03';
    color: rgb(145, 144, 128);
}
#foottext{
    padding: 20px;
    
    background-color: rgb(199, 197, 176);
    border-left: solid 9px rgb(145,144,128);
}




